/* baseline */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
pre,
a,
li,
ul,
ol,
cite,
code,
del,
em,
img,
article,
header,
footer,
nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font: inherit;
	vertical-align: baseline;
}

body,
header,
footer,
article {
	display: block;
}

html { 
  overflow-y: scroll; 
}