/* FONT FACES */

@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,400,700);


/* RESET */

html { 
        overflow-y: scroll;
}


/* MAIN ELEMENTS */

body {
        font-family: Roboto, sans-serif;
        color: #222;
        line-height: 1.7em;
        font-size: 1.05em;
        margin: auto;
        border-top-width: 10px;
        border-top-color: #e5e4e2;
	border-top-style: solid;
        width: 90%;
                
      }

h1, h2, h3, h4, h5, h6 {
      font-family: 'Roboto Condensed'
}

h1, h2 {
      margin-top: 1.2em;
}

ul { 
        list-style: square outside; 
      }

a:link {
        color: #000;
      }

a:visited {
        color: #000;
      }

a:hover {
        color: #999;
      }

header {
        padding-top: 20px;
        padding-bottom: 50px;
                
       }

nav {
  font-family: 'Titillium Web', serif;
  float: right;
  margin-top: 5px;
  font-size: 1em;
}

nav a:link {
        text-decoration: none;
        color: #222;
}

nav a:visited {
        text-decoration: none;
        color: #222;
}

nav a:hover {
        text-decoration: none;
        color: #222;
}

hr {
     border-top: 1px solid #888;
}

article {
        padding-bottom: 20px;
        clear: both;
      }

.logo {
 font-family: 'Titillium Web', serif;
 font-size: 1.8em;
 font-weight: 400;
 color: #222;
 float: left;
 
}

img {
  max-width: 100%;
}

footer {
   padding-bottom: 250px;
}


/* CLASSES */     

.date {
  color: #999;
}

.profile {
  padding: 4px;
  border: 1px solid #ccc;
  box-shadow: 1px 3px 3px #ddd;
}

.social-icon {
  height: 36px;
  padding-right: 20px;
}


.footer-pic {
       padding-top: 20px;
       float: left;
      }

     
.contact {
        float: right;
      }
     


/* MEDIA QUERIES */


@media screen and (max-width: 800px) {

.logo {
   width: 100%;
}

nav {
   float: left;
}

.profile-pic {
   float: left;
}

.contact {
   float: left;
   width: 100%;
}

body {
    font-size: 1em;
}

}


@media screen and (min-width: 888.888px) {

body {
   max-width: 800px;
}

} 